body {
  background: #F6F2EC;
}

.get-started-btn {
  background: #004194;
  color: #fff;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.get-started-btn:hover {
  color: #fff;
  border: #fff;
}

#header {
  background: #fff;
  transition: all 0.5s;
  z-index: 997;
  padding: 10px 0;
  box-shadow: 0px 0 18px rgb(55 66 59 / 8%);
}

.register-img {
  object-fit: contain;
}

.form-control {
  display: block;
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 50rem!important;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

select.form-control {
  height: 52px;
  color: #495057;
}

.form-text {
  color: #F6F2EC;
}

.btn-primary {
  color: #fff;
  background-color: #004194;
  border-color: #004194;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.text-primary {
  color: #004194 !important;
}

.login-link {
  color: #F6F2EC;
}

a {
  text-decoration: none;
}

.login-link:hover {
  color: #004194;
}

.signin-card {
  background: #EE6A3E;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%);
}

.nav-link {
  display: block;
  padding: 0.5rem 1rem;
  color: #041838 !important;
  text-decoration: none;
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.nav-link:hover {
  color: #004194 !important;
}

.add-table-card {
  background: #ACC9DC;
  border: 0;
  border-radius: 1rem;
  box-shadow: 0 0.5rem 1rem 0 rgb(0 0 0 / 10%);
  color: #041838;
}

.btn-secondary {
  color: #F6F2EC;
  background-color: #EE6A3E;
  border-color: #EE6A3E;
  border-radius: 50px;
  padding: 8px 25px;
  white-space: nowrap;
  transition: 0.3s;
  font-size: 14px;
}

.btn-secondary:hover {
  background-color: #c56241;
  border-color: #c56241;
}

.bg-secondary {
  background-color: #ACC9DC !important;
}

.buttonsList .btn-outline-primary {
  padding: 5px 15px;
  border-radius: 50px;
  color: #004194;
  border-color: #004194;
}

.buttonsList .btn-outline-primary:hover {
  background-color: #004194;
  color: #fff;
}

.buttonsList .btn-outline-danger {
  padding: 5px 15px;
  border-radius: 50px;
  color: #EE6A3E;
  border-color: #EE6A3E;
}

.buttonsList .btn-outline-danger:hover {
  background-color: #EE6A3E;
  color: #fff;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
}

.text-dark {
  color: #041838 !important;
}

table {
  border-collapse: collapse;
}

tbody {
  border-top: none !important;
}

table thead th {
  vertical-align: bottom;
  /* border-bottom: 2px solid #dee2e6; */
}

.custom-table {
  min-width: 900px;
  margin-top: 1rem;
}

.custom-table thead tr,
.custom-table thead th {
  padding-bottom: 30px;
  border-top: none;
  border-bottom: none !important;
  color: #fff;
  background-color: #004194;
}

.custom-table tbody th,
.custom-table tbody td {
  color: rgb(31, 31, 31);
  font-weight: 400;
  padding-bottom: 20px;
  padding-top: 20px;
  font-weight: 300;
  border: none;
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

.custom-table tbody th small,
.custom-table tbody td small {
  color: #b3b3b3;
  font-weight: 300;
}

.custom-table tbody tr {
  -webkit-transition: 0.3s all ease;
  -o-transition: 0.3s all ease;
  transition: 0.3s all ease;
}

/* input checkbox */
input.apple-switch {
  position: relative;
  -webkit-appearance: none;
  outline: none;
  width: 50px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ACC9DC;
  border-radius: 50px;
  box-shadow: inset -20px 0 0 0 #ACC9DC;
}

input.apple-switch:checked {
  box-shadow: inset 20px 0 0 0 #ffbc41 !important;
  border-color: #ffbc41 !important;
}

.dropdown-toggle::after {
  display: none;
}

.profile-icon {
  width: 35px;
}

.text-spacing {
  letter-spacing: 5px;
}
